<%# Users should be able to see a show page for an individual company
On this page, a user should be able to see a list of all of its offices, 
    as well as the building in which the office is located
On this page, a user should be able to add an employee to the company
On this page, a user should be able to see a list of all employees
On this page, a user should be able to remove an employee from the company
On this page, a user should be able to see how much total rent it is paying %>

<h1> <%= @company.name %> </h1>

<h3> Office Locations </h3>
<% @company.offices.each do |office| %>
    <label> Building: </label>
    <%= office.building.name %><br>
<% end %>

<h3> Employees at Company </h3>
<% @company.employees.each do |e| %>
    <label> Name: </label>
    <%= e.name %><br>
<% end %>

<h3> Add/Remove an Employee </h3>

<%# sum up all rent_per_floor!! %>
<h3> Total Rent </h3>
<%= @company.offices.each do |office|
    office.building.rent_per_floor %>
<% end %>

