<%# Users should be able to see a show page for an individual company
On this page, a user should be able to see a list of all of its offices, 
    as well as the building in which the office is located
On this page, a user should be able to add an employee to the company
On this page, a user should be able to see a list of all employees
On this page, a user should be able to remove an employee from the company
On this page, a user should be able to see how much total rent it is paying %>

<h1> <%= @company.name %> </h1>

<h3> Office Locations </h3>
<% @company.buildings.each do |building| %>
    <label> Building: </label>
    <%=  link_to building.name, building_path(building) %><br>
<% end %>

<h3> Employees at Company </h3>
<% @company.employees.each do |e| %>
    <%= e.name %><br>
<% end %>

<h3> Add/Remove an Employee </h3>
 
<%# office building * number of floors in that building * rent_per_floor
sum together all office totals 
%>
<h3> Total Rent </h3>
<%# <%= @company.buildings.each do |b|
    b.rent_per_floor %>
<%# <% end %>

